body {
    background: #F0F0F0;
    font-family: "Arial";
}

a {
    color: #5e7d96;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: square;
    color: #5e7d96;
}

h1 {
    text-align: left;
}

#disclaimer {
    font-size: 9px;
}

#breakingNews {
    padding: 20px;
    margin: 30px;
}

.breakingNewsTitle {
    color: #5e7d96;
}

#legend {
    background: #fac304;
    font-size: 11px;
    color: #000000;
    padding: 8px;
    margin: 30px;

}

#reportIncident {
     background: #D6EAEE;
     padding: 10px;
     margin: 30px;
     font-size: 13px;
     color: #444444;
}

#mainPage {
    background: #FFFFFF;
    padding: 20px;
    margin-right: 210px;
    margin-left: 205px;
}

#comments {
    background: #E4E4E4;
    padding: 20px;
}

#socialMedia {
    padding: 20px;
}

#newUser {
    background: #E4E4E4;
    padding: 10px;
}

