<link rel="import" href="/app/libs/polymer/polymer.html">

<polymer-element name="annotated" attributes="annotations src">
    <template>
        <style>
            .annotation {
                border: double 3px white;
                position: absolute;
            }
        </style>
        <div style="width: 500px; height: 600px; position: relative; background: url('{{src}}');">
            <template repeat="{{annotation in annotations}}">
                <div class="annotation" style="top: {{annotation.top}}px; left: {{annotation.left}}px; width: {{annotation.width}}px; height: {{annotation.height}}px;"></div>
            </template>
        </div>
    </template>
    <script>
        Polymer();
    </script>
</polymer-element>
