<link rel="import" href="/app/libs/polymer/polymer.html">
<link rel="import" href="/app/libs/google-map/google-map.html">

<polymer-element name="incident-map">
    <template>
        <style>
            google-map {
                height: 600px;
                width: 600px;
            }
        </style>
        <div id="mainPage">
            <table>
                <tr>
                    <td>
                        <google-map latitude="45.5257329" longitude="-73.5607663" fitToMarkers>
                            <template repeat="{{incident in incidents}}">
                                <google-map-marker latitude="{{incident.coordinates.lat}}" longitude="{{incident.coordinates.lng}}" title="{{incident.title}}" icon="{{incident.cover_image}}"></google-map-marker>
                            </template>
                        </google-map>
                        <span><button on-click="{{archive}}">Archive</button><button>Submit an incident</button></span>
                    </td>
                    <td>
                        <div id="breakingNews">
                            <img
                                src="http://thumbnails.cbc.ca/maven_legacy/thumbnails/407/572/1621948_10152347095584604_8960146779407029811_n.jpg"
                                style="width: 75%; height: 75%">
                            <h1 class="breakingNewsTitle">Breaking news</h1>
                            <ul>
                                <template repeat="{{incident in incidents}}">
                                    <incident-item incident={{incident}}></incident-item>
                                </template>
                            </ul>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </template>
    <script>
        Polymer({
            incidents: globals.incidents,
            archive: function() {
console.log('incidents: ', this.incidents);
            },
        });
    </script>
</polymer-element>
