<link rel="import" href="/app/libs/polymer/polymer.html">

<polymer-element name="incident-bottom">
    <template>
        <div id="mainPage">
            <div id="comments">    
                <h1>What people have to say about it...</h1>
                <table>
                    <tr>
                        <td>
                            <!--<annotated annotations="incidents[0].positionalAnnotations" src="{{incidents[0].cover_image}}"></annotated>-->
                        </td>
                        <td>
                            <div id="socialMedia">
                                <h3>On instagram</h3>
                                    <iframe
                                    src="http://snapwidget.com/in/?u=Y2JjbW9udHJlYWx8aW58MTI1fDN8M3x8bm98NXxub25lfG9uU3RhcnR8eWVzfG5v&ve=150315"
                                    title="Instagram Widget" class="snapwidget-widget"
                                    allowTransparency="true" frameborder="0" scrolling="no"
                                    style="border:none; overflow:hidden; width:390px;
                                    height:390px"></iframe>

                                <h3>On twitter</h3>
                                <script>!function(d,s,id){var
                                js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

                           </div>
                        </td>
                    </tr>
                </table>
            </div>
        <link rel="stylesheet" href="/app/css/style.css">
    </template>
    <script>
        Polymer({
            incidents: globals.incidents,
            ready: function() {
                this.incidents.forEach(function(element) {
                    element.positionalAnnotations = element.annotations.filter(function(element) {
                        return element.top;
                    });
                });
                console.log('positional annotations: ', this.incidents[0].positionalAnnotations);
            },
        });
    </script>
</polymer-element>
