<link rel="import" href="/app/libs/polymer/polymer.html">

<polymer-element name="incident-bottom">
    <template>
        <div id="mainPage">
            <div id="comments">    
                <h1>What people have to say about it...</h1>
                <table>
                    <tr>
                        <td>
                            <!--<annotated annotations="incidents[0].positionalAnnotations" src="{{incidents[0].cover_image}}"></annotated>-->
                        </td>
                        <td>
                            <div id="socialMedia">
                                <h3>On instagram</h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ullamcorper ante sit
                                    amet metus ultrices cursus. Suspendisse ultrices, erat sed venenatis accumsan, quam orci
                                    dapibus purus, sit amet placerat odio magna et quam. Suspendisse potenti.
                                </p>
                                <h3>On twitter</h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ullamcorper ante sit
                                    amet metus ultrices cursus. Suspendisse ultrices, erat sed venenatis accumsan, quam orci
                                    dapibus purus, sit amet placerat odio magna et quam. Suspendisse potenti.
                                </p>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        <link rel="stylesheet" href="/app/css/style.css">
    </template>
    <script>
        Polymer({
            incidents: globals.incidents,
            ready: function() {
                this.incidents.forEach(function(element) {
                    element.positionalAnnotations = element.annotations.filter(function(element) {
                        return element.top;
                    });
                });
                console.log('positional annotations: ', this.incidents[0].positionalAnnotations);
            },
        });
    </script>
</polymer-element>
