<link rel="import" href="/app/libs/polymer/polymer.html">
<link rel="import" href="/app/libs/google-map/google-map.html">
<link rel="import" href="/app/components/incident-item.html">
<link rel="import" href="/app/components/incident-annotation.html">
<link rel="import" href="/app/libs/juicy-html/juicy-html.html">

<polymer-element name="incident-map">
    <template>
        <style>
            google-map {
                height: 600px;
                width: 600px;
            }
        </style>
        <div id="mainPage">
            <table>
                <tr>
                    <td>
                        <google-map latitude="45.5257329" longitude="-73.5607663" fitToMarkers>
                            <template repeat="{{incident, i in incidents}}">
                                <google-map-marker latitude="{{incident.coordinates.lat}}" longitude="{{incident.coordinates.lng}}" icon="/app/images/{{incident.type}}.png" title="{{incident.title}}" click-events="{{true}}" on-google-map-marker-click="{{onGoogleMapMarkerClicked}}">
                                    <a href="{{incident.news_url}}">{{incident.title}}</a>
                                    <img src="{{incident.cover_image}}" data-index="{{i}}" class="annotationImg" />
                                </google-map-marker>
                            </template>
                        </google-map>
                        <p>
                            Select a timeframe for the map 
                            <form>
                                <input type="date" value="2015-03-15">
                            </form>
                        </p>
                        
                    </td>
                    <td>
                        <div id="breakingNews">
                            <img
                                src="/app/images/breaking-news.jpg"
                                style="width: 100%; height: 75%">
                            <h3 class="breakingNewsTitle">Breaking news in Montreal »</h3>
                            <ul>
                                <template repeat="{{incident in incidents}}">
                                    <incident-item incident={{incident}}></incident-item>
                                </template>
                            </ul>
                        </div>
                        <div id="reportIncident">
                        <h4>Upload your incident</h4>
                        <p>
                            Submit your incidents to the CBC.
                        </p>
                        <p>
                            <table>
                                <tr>
                                    <td>
                                        <img src="/app/images/upload_now.png">
                                     </td>
                                     <td>
                                        You must be a member of the CBC News Community to upload.
                                        <a href="FakeLink.com">Sign Up now</a>.
                                    </td>
                                </tr>
                            </table>
                        </p>
                    </div>
                    <div id="legend">
                        <h2>Legend</h2>
                        <table>
                            <tr>
                                <td>
                                    <h3>Traffic</h3>
                                    <p>
                                        <img src="/app/images/pedestrian.png" style="width: 18px; height:
                                        18px"> Pedestrian
                                    </p>
                                    <p>
                                        <img src="/app/images/bicycle.png" style="width: 18px; height:
                                        18px"> Bicycle
                                    </p>
                                    <p>
                                        <img src="/app/images/vehicular.png" style="width: 18px; height:
                                        18px"> Vehicular
                                    </p>
                                    <p>
                                        <img src="/app/images/construction.png" style="width: 18px; height:
                                        18px"> Construction and road closure
                                    </p>
                                </td>
                                <td>
                                    <h3>Event</h3>
                                    <p>
                                        <img src="/app/images/fire.png" style="width: 18px; height:
                                        18px">  Emergency (fire, water main break)
                                    </p>
                                    <p>
                                        <img src="/app/images/police.png" style="width: 18px;
                                        height: 18px">  Police operation
                                    </p>
                                    <p>
                                        <img src="/app/images/protest.png" style="width: 18px; height:
                                        18px"> Protest
                                    </p>
                                    <p>
                                        <img src="/app/images/other.png" style="width: 18px; height:
                                        18px"> Other
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
        <link rel="stylesheet" href="/app/css/style.css">
        <link rel="stylesheet" href="/app/libs/jquery-image-annotate/dist/css/annotate.min.css">
    </template>
    <script src="/app/libs/jquery-image-annotate/dist/js/jquery.min.js"></script>
    <script src="/app/libs/jquery-image-annotate/dist/js/jquery-ui.min.js"></script>
    <script src="/app/libs/jquery-image-annotate/dist/js/jquery.annotate.min.js"></script>
    <script>
        Polymer({
            incidents: globals.incidents,
            archive: function() {
            },
            onGoogleMapMarkerClick: function(event) {
                console.log('event: ', event);
            },
            ready: function() {
/*
                this.$.mainPage.querySelector('google-map-marker').addEventListener('google-map-marker-click', function() {
                    console.log('asdgfh');
                });
*/
            },
        });
    </script>
</polymer-element>
