<link rel="import" href="/app/libs/polymer/polymer.html">

<polymer-element name="incident-item" attributes="incident">
    <template>
        <li>
            <a href="{{incident.news_url}}">
                {{incident.title}}
            </a>
        </li>
        <link rel="stylesheet" href="/app/css/style.css">
    </template>
    <script>
        Polymer({
            incident: {title: 'hello', news_url: 'dasfdg'},
            ready: function() {
                console.log('incident: ', this.incident);
            },
        });
    </script>
</polymer-element>
