<link rel="import" href="/app/libs/polymer/polymer.html">

<polymer-element name="incident-annotations" noscript>
    <template>
        <div id="mainPage">
            <div id="comments">    
                <h1>What people say about it...</h1>
                <table>
                    <tr>
                        <td>
                            <img src="http://i.cbc.ca/1.2895059.1420808922!/fileImage/httpImage/image.JPG_gen/derivatives/16x9_620/papineau-and-ontario.JPG">
                        </td>
                        <td>
                            <div id="socialMedia">
                                <h3>On instagram</h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ullamcorper ante sit
                                    amet metus ultrices cursus. Suspendisse ultrices, erat sed venenatis accumsan, quam orci
                                    dapibus purus, sit amet placerat odio magna et quam. Suspendisse potenti.
                                </p>
                                <h3>On twitter</h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ullamcorper ante sit
                                    amet metus ultrices cursus. Suspendisse ultrices, erat sed venenatis accumsan, quam orci
                                    dapibus purus, sit amet placerat odio magna et quam. Suspendisse potenti.
                                </p>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <link rel="stylesheet" href="/app/css/style.css">
    </template>
</polymer-element>
